.deal {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 400px;
  width: 630px;
  color: #fff;
  padding: 0 14px 20px;
  gap: 10px;
}

.deal h3 {
  font-size: 20px;
  line-height: 34px;
}

.dealProperties {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 60px;
}

@media screen and (max-width: 834px) {
  .deal {
    width: 300px;
    height: 200px;
    padding: 0 7px 10px;
  }

  .deal h3 {
    font-size: 16px;
    line-height: 10px;
  }

  .dealProperties {
    font-size: 12px;
    row-gap: 5px;
    column-gap: 30px;
  }
}
